<mat-toolbar>
  <button class="curve" mat-raised-button color="primary" [routerLink]="['/payments']">
    لیست پرداخت ها
  </button>
<!--  <button class="curve" mat-raised-button color="primary" [routerLink]="['/process-list']">-->
<!--    مشاهده لیست فرایند ها-->
<!--  </button>-->
<!--  <button class="curve" mat-raised-button color="primary" [routerLink]="['/user-task-history']">-->
<!--    تاریخچه فعالیت کاربران-->
<!--  </button>-->
</mat-toolbar>
<mat-card class="process-card">
  <mat-card-header>
    <h3>کارهای جاری من</h3>
  </mat-card-header>

  <div *ngFor="let task of currentTasks">
    <br>
<!--    <button style="background-color: gainsboro" class="curve" mat-raised-button [routerLink]="['/process', task.paymentId]">-->
<!--      فرایند: {{task.paymentId}}-->
<!--    </button>-->
    <app-task-form
      [task]="task.task"
      [payment]="task.payment"
      [userName]="username"
      (taskCompleted)="loadMyTasks()">
    </app-task-form>
  </div>
</mat-card>
